a:hover {
    color: hotpink;
}

h1 {
    font-style: italic;
}

#myImage{
    border-radius: 10px;
    margin: 20px;
    border-style: dotted;
    max-width: 50px;
    max-height: 50px;
}

.myDiv{
    border-style: double;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    border: solid black 2px;
}